<div class="col-md-6">
    <div class="row">
        <div class="col-xs-2">
            <div class="skill-icon">
                <i class="fa fa-desktop"></i>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="skill-info">
                <h3>UI/UX Design</h3>
                <p>lorem impulses</p>
                <div class="skill-lv" aria-label="elite"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <div class="skill-icon">
                <i class="fa fa-area-chart"></i>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="skill-info">
                <h3>Usability Testing and Analysis</h3>
                <p>lorem impulses</p>
                <div class="skill-lv" aria-label="advanced"></div>
            </div>
        </div>
    </div>

</div>
<div class="col-md-6">

    <div class="row">
        <div class="col-xs-2">
            <div class="skill-icon">
                <i class="fa fa-code"></i>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="skill-info">
                <h3>Front end & Theme </h3>
                <p>lorem impulses</p>
                <div class="skill-lv" aria-label="advanced"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <div class="skill-icon">
                <i class="fa fa-paint-brush"></i>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="skill-info">
                <h3>Graphic Design</h3>
                <p>lorem impulses</p>
                <div class="skill-lv" aria-label="adept"></div>
            </div>
        </div>
    </div>
</div>
