<div class="skills-left col-md-6 invisible">
    <div class="skill row">
        <div class="col-xs-2">
            <div class="skill-icon">
                <i class="fa fa-desktop"></i>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="skill-info">
                <div class="skill-name">UI/UX Design</div>
                <p class="skill-detail">Create slick workflow for both web & mobile apps. </p>
                <div class="skill-lv" aria-label="elite"></div>
            </div>
        </div>
    </div>
    <div class="skill row">
        <div class="col-xs-2">
            <div class="skill-icon">
                <i class="fa fa-area-chart"></i>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="skill-info">
                <div class="skill-name">Usability Testing and Analysis</div>
                <p class="skill-detail">lorem impulses</p>
                <div class="skill-lv" aria-label="advanced"></div>
            </div>
        </div>
    </div>

</div>
<div class="skills-right col-md-6 invisible">

    <div class="skill row">
        <div class="col-xs-2">
            <div class="skill-icon">
                <i class="fa fa-code"></i>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="skill-info">
                <div class="skill-name">Front end & Theme</div>
                <p class="skill-detail">lorem impulses</p>
                <div class="skill-lv" aria-label="advanced"></div>
            </div>
        </div>
    </div>

    <div class="skill row">
        <div class="col-xs-2">
            <div class="skill-icon">
                <i class="fa fa-paint-brush"></i>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="skill-info">
                <div class="skill-name">Graphic Design</div>
                <p class="skill-detail">lorem impulses</p>
                <div class="skill-lv" aria-label="adept"></div>
            </div>
        </div>
    </div>
</div>
