<div class="project-post ui col-md-4">
    <div class="project-header clearfix">
        <div class="header-title">
            Lunchbrother    
        </div>
        <div class="header-type">UI/UX</div>
    </div>

    <a href="/work/work-1.html">
        <div class="image-wrapper">
            <img src="/assets/img/work/proj-1/thumb.jpg"  alt="work-1">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <div class="project-header clearfix">
        <div class="header-title">
            Instagram Follower Search    
        </div>
        <div class="header-type">UI/UX</div>
    </div>
    <a href="/work/work-9.html">
        <div class="image-wrapper">
            <img src="/assets/img/work/proj-9/thumb.gif"  alt="work-9">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <div class="project-header clearfix">
        <div class="header-title">
            Ag Data Commons    
        </div>
        <div class="header-type">UI/UX</div>
    </div>
    <a href="/work/work-2.html">
        <div class="image-wrapper">
            <img src="/assets/img/work/proj-2/thumb.jpg"  alt="work-2">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <div class="project-header clearfix">
        <div class="header-title">
          Vote Early VA 
        </div>
        <div class="header-type">UI/UX</div>
    </div>
    <a href="/work/work-3.html">
        <div class="image-wrapper">
            <img src="/assets/img/work/proj-3/thumb.jpg"  alt="work-3">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <div class="project-header clearfix">
        <div class="header-title">
          Republican Party of Florida
        </div>
        <div class="header-type">UI/UX</div>
    </div>
    <a href="/work/work-4.html">
        <div class="image-wrapper">
            <img src="/assets/img/work/proj-4/thumb.jpg"  alt="work-4">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <div class="project-header clearfix">
        <div class="header-title">
          PayPal Bill Me Later
        </div>
        <div class="header-type">UX/UI</div>
    </div>
    <a href="/work/work-5.html">
        <div class="image-wrapper">
            <img src="/assets/img/work/proj-5/thumb.jpg"  alt="work-5">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <div class="project-header clearfix">
        <div class="header-title">
          i5k Workshop @ NAL
        </div>
        <div class="header-type">UX/UI</div>
    </div>
    <a href="/work/work-6.html">
        <div class="image-wrapper">
            <img src="/assets/img/work/proj-6/thumb.jpg"  alt="work-6">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <div class="project-header clearfix">
        <div class="header-title">
          PayPal Here
        </div>
        <div class="header-type">UX/UI</div>
    </div>
    <a href="/work/work-7.html">
        <div class="image-wrapper">
            <img src="/assets/img/work/proj-7/thumb.jpg"  alt="work-7">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <div class="project-header clearfix">
        <div class="header-title">
          SunTV Slider
        </div>
        <div class="header-type">Graphic</div>
    </div>
    <a href="/work/work-8.html">
        <div class="image-wrapper">
            <img src="/assets/img/work/proj-8/thumb.jpg"  alt="work-8">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

