<div class="project-post ui col-md-4">
    <div class="project-header clearfix">
        <div class="header-title">
            Lunchbrother    
        </div>
        <div class="header-type">UI/UX</div>
    </div>

    <a href="/work-1/">
        <div class="image-wrapper">
            <img src="../assets/img/work/proj-1/thumb.png" class="img-responsive" alt="work-1">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <a href="">
        <div class="image-wrapper">
            <img src="http://images.fromupnorth.com/482/5666ab65ea52d.jpg" class="img-responsive" alt="work-1">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <a href="">
        <div class="image-wrapper">
            <img src="http://images.fromupnorth.com/482/5666ab65ea52d.jpg" class="img-responsive" alt="work-1">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <a href="">
        <div class="image-wrapper">
            <img src="http://images.fromupnorth.com/482/5666ab65ea52d.jpg" class="img-responsive" alt="work-1">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>

<div class="project-post ui col-md-4">
    <a href="">
        <div class="image-wrapper">
            <img src="http://images.fromupnorth.com/482/5666ab65ea52d.jpg" class="img-responsive" alt="work-1">
            <div class="image-overlay">
                <p>
                View Detail
                </p>
            </div>
        </div>
    </a>
</div>
