<footer class="site-footer" data-stellar-background-ratio="0.5">

    <div class="container">
        <div class="row">
            <div class="col-sm-4" id="contact">
                <h3 class="contact-title">Drop me a line!</h3>
                <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-paper-plane-o fa-fw"></i></span>
                        <input type="email" class="form-control" id="myEmailInput" readonly required value="quqing11@gmail.com">
                    </div>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <input type="email" class="form-control" id="guestEmailInput" placeholder="Your Email address" required>
                    </div>
                    <div class="form-group margin-bottom-sm">
                        <textarea class="form-control"  placeholder="Content..." rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                    </div>
                </form>
            </div>

            <div class="col-sm-4">
                <ul class="social-media-list">
                </ul>
            </div>
            <!--
            <div class="footer-col  footer-col-3">
                <p class="text">{{ site.description }}</p>
            </div>
            -->
        </div>

    </div>

</footer>
