<header class="site-header">

    <div class="container">

        <a class="site-title" href="{{ site.baseurl }}/home">{{ site.title }}</a>

        <nav class="site-nav">
            <a href="#" class="menu-icon">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </a>

            <div class="trigger">
                <a class="page-link active" href="/home/#hero">HOME</a>
                <a class="page-link" href="/home/#skills">ABOUT</a>

                <a class="page-link" href="/home/#works">WORKS</a>
                
                <a class="page-link" href="/ux-flow/">UX</a>
                <a class="page-link" href="/home/#contact">CONTACT</a>
                <!--
                {% for page in site.pages %}
                {% if page.title %}
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                {% endif %}
                {% endfor %}
                -->
            </div>
        </nav>

    </div>

</header>
