<section id="skills" class="">
    <div class="container">
        <div class="section-header text-center">
            <div class="row">  
                <h2 class="large section-title">About Me</h2>
                <div class="section-subtitle">My background, skills and hobbies...</div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <p>Hello There! I am an UX/UI designer living in San Francisco. For me, life is always about exploring, learning, creating new things, and experiencing different cultures around the world. I am a creative, energetic individual that always has passions for art and design. I would like to pursue a career in the web design and user experience design field that can offer challenges and opportunities for me to explore new possibilities, interact with other people and at the same time express my value.</p>
                </div>
            </div>
        </div>
    </div>
</section>
