.project-post {
    padding-top: 15px;
    padding-bottom: 15px;
    .project-header {
        position: relative;
        height: 50px;
        background: #fafafa;
        border: 1px solid #efefef;
        border-bottom: none;
        .header-title {
            float:left;
            width: 75%;
            padding: 0 15px;
            line-height: 50px;
            font-size: $md;
            font-weight: 400;
        }

        .header-type {
            float:right;
            width: 25%;
            padding: 0 15px;
            text-align: right;
            line-height: 50px;
            font-size: $xsm;
            color: orange;
        }

        &:before, &:after{
            content: '';
            border: 8px solid transparent; // Arbitrary Number
            display: block;

        }
        &:before{
            border: 10px solid transparent // Arbitrary Number (must be bigger than the border set above)
        }
        &:before, &:after{
            position: absolute;
            right: 22%;
            top: 100%;
        }
        &:before{
            margin-left:-10px; // Matches the border size on the :before element
        }
        &:after{
            margin-left: -8px; // Matches the border size applied to the :before AND :after elements
            border-top-color: #fafafa;
            z-index: 1;
        }
    }
    a {
        background: transparent;
        outline: none;
        text-decoration: none;
        @include transition-property(background-color, color);
        .image-wrapper {
            position: relative;
            img {
                width: 100%;
                height: auto;
            }
        }

        .image-overlay {
            position: absolute;
            text-align: center;
            background-color: #d0f9f9;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            @include transition(all .3s ease-out);
            p {
                position: absolute;
                top: 50%;
                color: #333;
                text-transform: uppercase;
                margin-top: -10px;
                width: 100%;
            }
        }

        &:hover .image-overlay {
            opacity: 0.8;
            width: 100%;
            height: 100%;
        }
    }
}

//Project page
.project {
    padding-top: 100px;
    .project-imgs .project-gallery {
        margin-bottom:$spacing-unit;
    }
    .project-detail {
        margin-top: $spacing-unit;
        .project-role {
            font-size: $lg;
            font-weight: 400;
        }
        ul {
            li{
                border-left: 2px solid orange;
                margin:8px 0;
                padding:0 10px;
                color: $grey-color;
            } 
        }
    }
}
