.site-header {
    position: fixed;
    width: 100%;
    height: $header-height;
    top: 0;
    left: 0;
    @include transition(all 0.3s ease-in-out);
    @include background(linear-gradient(rgba(22,22,22,0.6), rgba(0, 0, 0, 0)));
    .site-nav {
        line-height: $header-height;
        a {
            color:white;
            @include transition(all 0.3s ease-in-out);
        }
        @include transition(all 0.3s ease-in-out);
    }
    .site-title {
        line-height: $header-height;
        color: white;
        font-size: $xlg;
        @include transition(all 0.3s ease-in-out);
    }
}

.site-header-min {
    height: $header-height-min;
    background: rgba(255, 255, 255, 0.9);
    .site-title {
        line-height: $header-height-min;
        font-size: $lg;
        color:black;
    }
    .site-nav {
        top: 12px;
        line-height: $header-height-min;
        .menu-icon {
            .line{
                background:black;
            }
        }
    }
}

