<section id="hero" data-stellar-background-ratio="0.5" data-type="background" class="hero-content">
    <div class="hero-slogan">
        <div class="slogan-top">Hi, my name is Qing Qu. I love</div> 
        <div class="slogan-mid">UI/UX Deisgn & Front-End</div>     
       <!--
        <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='[ "UI/UX Design", "Graphic Design", "Front-end"]'></span>
        </h1>
       -->
        <div class="slogan-bottom">Simple, Beautiful, Easy to use</div>
    </div>
</section>
