<section id="resume" data-stellar-background-ratio="0.5" data-type="background" class="resume-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                <div class="resume-heading">Get more detail of my backgrounds and experience</div>
                <button type="button" class="resume-view-btn btn btn-primary btn-lg" onClick="window.open('{{site.baseurl}}/assets/file/resume/Qing Qu_Resume_cn.pdf');">VIEW RESUME</button>
            </div>
        </div>
    </div>
</section>
