<section data-type="content" id="skills" class="skills-content">
    <div class="container">
        <div class="section-header text-center">
            <div class="row">  
                <h2 class="large section-title">About Me</h2>
                <div class="section-subtitle">My background, skills and hobbies...</div>
            </div>
          </div><!-- end of section-header -->
        <div class="section-content">
            <div class="self-intro row">
                <div class="col-md-12">
                    <p>
                    Hi There! I am a UX/UI designer living in DC. My goal is to make things simple, beautiful and easy to use. I'm a energetic person passionate about more than just digital world. I love interior design, cooking and snowboarding. For me, life is always about learning, exploring, and experiencing different cultures around the world.
                    </p>
                </div>
            </div>
            <div class="row">
              {% include front/skills/skill-detail.html  %}
            </div>
          </div><!-- end of section content -->
      </div><!-- end of container -->
</section>
