<section data-type="content" id="works" class="">
    <div class="container">
        <div class="section-header text-center">
            <div class="row">  
                <h2 class="large section-title">Recent Works</h2>
                <div class="section-subtitle">My latest portfolio</div>
            </div>
          </div><!-- end of section-header -->
        <div class="section-content">
            <div class="row">
              {% include front/works/works-gallery.html  %}
          </div><!-- end of section content -->
      </div><!-- end of container -->
</section>
